// Basic page options
@import "global/normalize";

// fonts1
@import "global/fonts";

// vars
@import "global/vars";

// mixins

@import "global/mixins";

// common
@import "blocks/common/container";

// index page
@import "blocks/index/header";


