// Basic page options
@import "global/normalize";

// fonts1
@import "global/fonts";

// vars
@import "global/vars";

// mixins
@import "global/mixins";

// slider
@import "global/slick.scss";
@import "global/slick-theme.scss";

// common
@import "blocks/common/container";
@import "blocks/common/call_btn";
@import "blocks/common/menu";
@import "blocks/common/arrows";

// index page
@import "blocks/index/header";
@import "blocks/index/baner";
@import "blocks/index/stat";
@import "blocks/index/advantages";
@import "blocks/index/carclass";
@import "blocks/index/orderby";
@import "blocks/index/services";

