@font-face {
  font-family: 'FuturaBookC';
  src: url('../../../build/fonts/FuturaBookC.woff2') format('woff2'),
      url('../../../build/fonts/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../build/fonts/Roboto-Regular.woff2') format('woff2'),
      url('../../../build/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}