.page_header_bar {
  @include tablet {
  }

  @include desktop {
    display: flex;
    justify-content: space-between;

    padding: 60px 0 60px;
  }
  .page_header_bar_right {
    display: flex;
    @include tablet {
    }

    @include desktop {
      align-items: flex-start;
      justify-content: space-around;
    }
    .page_header_bar_right-text {
      @include tablet {
      }

      @include desktop {
        font-family: $futuraDemiC;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        padding-right: 24px;
        padding-top: 5px;
      }
    }
    .page_header_bar_right-btn {
      display: flex;
      @include tablet {
      }

      @include desktop {
        flex-direction: column;
        align-items: center;
        padding-right: 24px;
      }
      .page_header_bar_right-btn_description {
        @include tablet {
        }

        @include desktop {
          font-family: $futuraBkBT;
          font-size: 10px;
          line-height: 12px;
          padding-top: 8px;
        }
      }
    }
    .page_header_bar_right-lang {
      @include tablet {
      }

      @include desktop {
        border: none;
        font-family: $futuraBookC;
        font-size: 14px;
        line-height: 16px;
      }
      &:focus{
        outline: none;
      }
    }
  }
}
