.mapall {
  margin: 60px 0;
  text-align: center;
  .mapall_header {
    font-family: $futuraDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }
  .mapall_map {
    margin-top: 30px;
  }
  .mapall_plane{
    position: absolute;
    // width: 882px;
    top: 5150px;
    right: 0;
  }
  .mapall_cities {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .mapall_citieslist {
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
      .mapall_citieslist-city{
        font-family: $futuraBookC;
        font-size: 25px;
        line-height: 50px;
        text-align: left;
      }
      .mapall_citieslist-button{
        width: 160px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $yellow;
        border-radius: 10px;
        font-family: $futuraBookC;
        font-size: 20px;
        line-height: 50px;
        color: $black;
        margin-top: 40px;
        &:hover{
          background: $light-yellow;
        }
      }
    }
    &::before{
      content: url("/build/img/raster/LogoSHARKvertical.png");
      position: absolute;
      top: 5250px;
      left: 200px;
    }
    &::after{
      content: url("/build/img/raster/GeoPIN.png");
      height: 50%;
      position: absolute;
      top: 5310px;
      right: 400px;
      z-index: -1;
    }
  }
}
