.orderby {
  padding-top: 60px;
  text-align: center;

  .orderby_header {
    font-family: $futuraDemiC;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .orderby_slider-overlay {
    position: absolute;
    z-index: 2;
    top: 83px;
    left: 458px;
  }

  .orderby_slider {
    display: inline-block;
    width: 600px;
    // margin-top: 60px;
    background: url(/build/img/vector/BG.svg) center no-repeat;
    padding-top: 100px;

    .orderby_slider-items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: auto;

      .orderby_slider-items_img {
        height: 660px;
      }

      .orderby_slider-items_description {
        font-family: $futuraDemiC;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;

        span {
          font-family: $futuraDemiC;
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          text-transform: lowercase;
          color: #fdca43;
        }
      }
    }

    .slick-prev:before,
    .slick-next:before {
      font-family: "slick";
      font-size: 60px;
      line-height: 1;
      color: #E4E4E4;
      opacity: 0.75;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
    }

    .slick-prev:hover:before,
    .slick-next:hover:before {
      color: #FCC940;
      opacity: 0.75;

    }
    

    .slick-prev:before {
      content: "‹";
    }

    [dir="rtl"] .slick-prev:before {
      content: "›";
    }

    [dir="rtl"] .slick-next {
      left: -10px;
      top: 70px;
      right: auto;
    }

    .slick-next:before {
      content: "›";
    }

    [dir="rtl"] .slick-next:before {
      content: "‹";
    }

  }
}