.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background: url('/build/img/vector/servicesBG.svg') no-repeat;
  // background-size: cover;
  .services_header{
    margin-top: 60px;
    font-family: $futuraDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  // .services_left_car{
  //   position: relative;
  //   top: 345px;
  // }
  .services_container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 765px;
    height: 908px;
    .services_item{
      text-align: left;
      margin-right: 60px;
      width: 215px;
      height: 182px;
      .services_item-icon-box{
        width: 75px;
        height: 75px;
      }
      &:nth-child(3n+3){
        margin-right: 0;
      }
      .cervices_item-title{
        text-align: left;
        font-family: $futuraDemiC;
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
      }
      .cervices_item-description{
        margin-top: 10px;
        text-align: left;
        font-family: $futuraBookC;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

}