.page_header_bar_left-menu_wrap {
  // position: fixed;
  // top:0;
  z-index: 10;

  .page_header_bar_left-menu_hamburger {
    position: absolute;
    z-index: 9;
    padding-top: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      /* Hamburger Lines - Top & Bottom */
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -5px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      /* Moves Line Down */
      &:after {
        top: 5px;
      }
    }
  }

  .page_header_bar_left-menu_toggler {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0;
    /* Toggler Animation */
    &:checked + .page_header_bar_left-menu_hamburger > div {
      transform: rotate(135deg);
    }
    /* Turns Lines Into X */
    &:checked + .page_header_bar_left-menu_hamburger > div:before,
    &:checked + .page_header_bar_left-menu_hamburger > div:after {
      top: 0;
      transform: rotate(90deg);
    }
    /* Rotate On Hover When Checked */
    &:checked:hover + .page_header_bar_left-menu_hamburger > div {
      transform: rotate(225deg);
    }
    /* Show Menu */
    &:checked ~ .page_header_bar_left-menu_menu {
      visibility: visible;
      div {
        transform: scale(1);
        transition-duration: 0.75s;
        div {
          opacity: 1;
          transition: opacity 0.4s ease 0.4s;
        }
      }
    }
  }
  .page_header_bar_left-menu_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    div {
      background: rgba(43, 43, 43, 0.8);
      backdrop-filter: blur(10px);
      border-radius: 50%;
      text-align: center;
      width: 200vw;
      height: 200vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.5s ease;
        ul {
          li {
            list-style: none;
            color: $white;
            font-size: 24px;
            padding: 16px;
            a{
              font-family: $futuraBookC;
              color: inherit;
              text-decoration: none;
              transition: color 0.4s ease;
              &:hover{
                color: $yellow;
              }
          }
        }
      }
    }
  }
}

